<div class="center">
    <h1 class="title">A time-course analysis of the oligodendrocyte translatome in response to spinal cord injury</h1>
</div>

<div class="one-line">
    <div class="center">
        <img src="../../assets/flow.png" width="250" class="side-image" />
    </div>

    <div class="center home-center">
        <br>
        <br>
    
        <button mat-raised-button routerLink="/search">Explore OL Translatome Dataset</button>
    
        <br>
        <br>
        <br>
        <br>
    
        <p class="description">This project utilizes RiboTag technology to isolate oligodendrocyte-specific, ribosome-associated mRNAs to investigate changes in the oligodendrocyte translatome in the spinal cord before and after progressive stages of a moderate thoracic spinal cord contusion injury. This dataset provides information about how oligodendrocytes respond to an injury at the translational level (ribosome-associated mRNAs) to identify novel mechanisms by which oligodendrocytes help or hinder the healing process after a devastating injury.</p>
    
        <br>
        <br>
        <br>
    
        <p class="footnote">Translatome: transcriptomics of isolated ribosome-associated mRNAs. These are considered “actively translating”.</p>
    </div>

    <div class="center">
        <img src="../../assets/staining.png" width="250" class="side-image" />
    </div>
</div>


