<h1>Search</h1>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Gene name</mat-label>
  <input type="text"
         placeholder=""
         aria-label="GeneName"
         matInput
         [formControl]="geneSearchControl"
         [matAutocomplete]="auto"
         #trigger="matAutocompleteTrigger"
         (keyup)="onKeyUp()"
         (keyup.enter)="onEnter(); trigger.closePanel()"
         [(ngModel)]="searchTerm"
         onfocus="this.select()">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="onOptionClick()">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div class="one-line-header">
  <h1>Results</h1>

  <ul *ngIf="showSigLegend" class="legend">
    <li><span class="significant"></span> Significant</li>
    <li><span class="insignificant"></span> Insignificant</li>
  </ul>
</div>

<mat-tab-group (selectedTabChange)="toggleSigLegend($event)">
  <mat-tab label="All">
    <ng-template matTabContent>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="'flame'"
        [legend]="lineLegend"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [xAxisTicks]="xAxisTicks"
        [timeline]="timeline"
        [results]="allData"
        >
        <ng-template #tooltipTemplate let-model="model">
          {{model.value}}
          <br>
          q = {{model.extra.tooltip}}
        </ng-template>
      </ngx-charts-line-chart>
    </ng-template>
  </mat-tab>
  <mat-tab label="Total mRNA">
    <ng-template matTabContent>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'flame'"
        [results]="inData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="barLegend"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [customColors]="inColors"
        >
        <ng-template #tooltipTemplate let-model="model">
          {{model.value}}
          <br>
          q = {{model.extra.tooltip}}
        </ng-template>
      </ngx-charts-bar-vertical>
    </ng-template>
  </mat-tab>
  <mat-tab label="OL mRNA">
    <ng-template matTabContent>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'flame'"
        [results]="ipData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="barLegend"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [customColors]="ipColors"
        >
        <ng-template #tooltipTemplate let-model="model">
          {{model.value}}
          <br>
          q = {{model.extra.tooltip}}
        </ng-template>
      </ngx-charts-bar-vertical>
    </ng-template>
  </mat-tab>
  <mat-tab label="OL Enrichment">
    <ng-template matTabContent>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'flame'"
        [results]="enrichmentData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="barLegend"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [customColors]="enrichmentColors"
        >
        <ng-template #tooltipTemplate let-model="model">
          {{model.value}}
          <br>
          q = {{model.extra.tooltip}}
        </ng-template>
      </ngx-charts-bar-vertical>
    </ng-template>
  </mat-tab>
  <mat-tab label="&Delta; in OL Enrichment">
    <ng-template matTabContent>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'flame'"
        [results]="interactionData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="barLegend"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [customColors]="interactionColors"
        >
        <ng-template #tooltipTemplate let-model="model">
          {{model.value}}
          <br>
          q = {{model.extra.tooltip}}
        </ng-template>
      </ngx-charts-bar-vertical>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<h1>Details</h1>

<p>Ens Id: <span *ngIf="this.selectedGene.EnsId != 0">{{selectedGene.EnsId}}</span></p>
<p>Name: {{selectedGene.Name}}</p>
<p>Description: {{selectedGene.Description}}</p>